.user {
    color: var(--mantine-color-white);
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
    border-radius: var(--mantine-radius-sm);
    transition: background-color 100ms ease;

    &:hover {
        background-color: var(--mantine-color-sky-8);
    }

    &[data-opened="true"] {
        background-color: var(--mantine-color-sky-8);
    }
}
